@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

:root {
  --bg-color: #232323;
  --white: #fcfcfc;
  --text-color: #2e2a25;
}

* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: hsl(143deg, 60%, 12%);
  text-decoration: none;
  transform: translate(0.6);
}

a:hover {
  transition: all 500ms ease-in-out;
}

h2 {
  color: #671134;
}

.sticky {
  background-color: teal;
  transition: 1s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  /* color: #fcfcfc; */
}

.list {
  color: rgb(190, 184, 184);
  color: var(--white);
}
